Telethon
future
emoji
countryinfo
beautifulsoup4
telegraph
requests
faker
sqlalchemy==1.3.20
tswift
coffeehouse
python-telegram-bot
numpy
urbandict
nekos.py
pyowm
wikipedia
kbbi
feedparser
gtts
alphabet_detector
psycopg2-binary
feedparser
tswift
pynewtonmath
#memes vvv
spongemock
zalgo-text
geopy
nltk
psutil
bleach
aiohttp
Python_ARQ
aiofiles
Pillow
CurrencyConverter
#translator
googletrans
jikanpy
speedtest-cli
pytz
parsel
hurry.filesize
spamwatch
pySmartDL
youtube-dl
bs4
pybase64
hachoir
validators
youtube-search-python
ffmpeg
git+https://github.com/Sur-vivor/python-markdown2.git
apscheduler
fontTools
glitch_this
opencv-python-headless
heroku3
Pyrogram
envparse
TgCrypto
search_engine_parser
bing_image_downloader
html2text
pygithub
pykeyboard
PyDictionary
motor
memes
